USE [master]
GO
-- Drop the database if it already exists so we can run the script multiple times
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'NEFAB')
BEGIN
    ALTER DATABASE [NEFAB] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [NEFAB];
END
GO

-- Create the database using the server's default file paths
CREATE DATABASE [NEFAB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NEFAB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NEFAB]
GO
/****** Object:  Table [dbo].[CONTAINER]    Script Date: 15-05-2026 10:09:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTAINER](
	[ContainerNo] [nvarchar](50) NOT NULL,
	[Week] [int] NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [CONTAINER_pk] PRIMARY KEY CLUSTERED 
(
	[ContainerNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 15-05-2026 10:09:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EmployeeId] [nvarchar](8) NOT NULL,
	[EmployeeName] [nvarchar](100) NOT NULL,
 CONSTRAINT [EMPLOYEE_pk] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACKAGE]    Script Date: 15-05-2026 10:09:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACKAGE](
	[PackageId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectNo] [bigint] NOT NULL,
	[ProjectItemNo] [int] NOT NULL,
	[PackageWeight] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[InnerQuantity] [int] NOT NULL,
	[PackageLength] [float] NOT NULL,
	[PackageWidth] [float] NOT NULL,
	[PackageHeight] [float] NOT NULL,
	[Comment] [nvarchar](400) NULL,
	[Picture] [nvarchar](500) NULL,
	[ContainerNo] [nvarchar](50) NOT NULL,
	[SupplierName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PACKAGE_pk] PRIMARY KEY CLUSTERED 
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACKAGESTATUS]    Script Date: 15-05-2026 10:09:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACKAGESTATUS](
	[PackageStatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusType] [nvarchar](100) NOT NULL,
	[Comment] [nvarchar](400) NULL,
	[StatusTime] [datetime] NOT NULL,
	[PackageId] [int] NOT NULL,
	[EmployeeId] [nvarchar](8) NOT NULL,
 CONSTRAINT [PACKAGESTATUS_pk] PRIMARY KEY CLUSTERED 
(
	[PackageStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 15-05-2026 10:09:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[SupplierName] [nvarchar](100) NOT NULL,
 CONSTRAINT [SUPPLIER_pk] PRIMARY KEY CLUSTERED 
(
	[SupplierName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CONTAINER] ([ContainerNo], [Week], [Year]) VALUES (N'BMOU5624043', 9, 2026)
INSERT [dbo].[CONTAINER] ([ContainerNo], [Week], [Year]) VALUES (N'HAMU2169946', 9, 2026)
INSERT [dbo].[CONTAINER] ([ContainerNo], [Week], [Year]) VALUES (N'HAMU5147920', 9, 2026)
GO
INSERT [dbo].[EMPLOYEE] ([EmployeeId], [EmployeeName]) VALUES (N'ADMI0101', N'Administrator')
GO
SET IDENTITY_INSERT [dbo].[PACKAGE] ON 

INSERT [dbo].[PACKAGE] ([PackageId], [ProjectNo], [ProjectItemNo], [PackageWeight], [Amount], [InnerQuantity], [PackageLength], [PackageWidth], [PackageHeight], [Comment], [Picture], [ContainerNo], [SupplierName]) VALUES (1, 4200408584, 20, 6730, 1, 1, 321, 146, 169, N'kk', NULL, N'BMOU5624043', N'TSP')
INSERT [dbo].[PACKAGE] ([PackageId], [ProjectNo], [ProjectItemNo], [PackageWeight], [Amount], [InnerQuantity], [PackageLength], [PackageWidth], [PackageHeight], [Comment], [Picture], [ContainerNo], [SupplierName]) VALUES (2, 4200393489, 40, 240, 2, 2, 134, 95, 62, N'kk', NULL, N'BMOU5624043', N'TSP')
INSERT [dbo].[PACKAGE] ([PackageId], [ProjectNo], [ProjectItemNo], [PackageWeight], [Amount], [InnerQuantity], [PackageLength], [PackageWidth], [PackageHeight], [Comment], [Picture], [ContainerNo], [SupplierName]) VALUES (3, 4200401145, 40, 518, 1, 16, 144, 95, 84, NULL, NULL, N'BMOU5624043', N'TSP')
SET IDENTITY_INSERT [dbo].[PACKAGE] OFF
GO
SET IDENTITY_INSERT [dbo].[PACKAGESTATUS] ON 

INSERT [dbo].[PACKAGESTATUS] ([PackageStatusId], [StatusType], [Comment], [StatusTime], [PackageId], [EmployeeId]) VALUES (1, N'Leveret', N'HFJFH', CAST(N'2026-05-07T13:14:22.453' AS DateTime), 1, N'ADMI0101')
INSERT [dbo].[PACKAGESTATUS] ([PackageStatusId], [StatusType], [Comment], [StatusTime], [PackageId], [EmployeeId]) VALUES (2, N'Forsinket', N'DDD', CAST(N'2026-05-08T10:36:53.263' AS DateTime), 1, N'ADMI0101')
INSERT [dbo].[PACKAGESTATUS] ([PackageStatusId], [StatusType], [Comment], [StatusTime], [PackageId], [EmployeeId]) VALUES (3, N'Forsinket', N'dnd', CAST(N'2026-05-08T10:44:10.097' AS DateTime), 1, N'ADMI0101')
SET IDENTITY_INSERT [dbo].[PACKAGESTATUS] OFF
GO
INSERT [dbo].[SUPPLIER] ([SupplierName]) VALUES (N'DKM')
INSERT [dbo].[SUPPLIER] ([SupplierName]) VALUES (N'DONA-A')
INSERT [dbo].[SUPPLIER] ([SupplierName]) VALUES (N'DONGHWA ENTEC')
GO
ALTER TABLE [dbo].[PACKAGE]  WITH CHECK ADD  CONSTRAINT [CONTAINER_fk1] FOREIGN KEY([ContainerNo])
REFERENCES [dbo].[CONTAINER] ([ContainerNo])
GO
ALTER TABLE [dbo].[PACKAGE] CHECK CONSTRAINT [CONTAINER_fk1]
GO
ALTER TABLE [dbo].[PACKAGE]  WITH CHECK ADD  CONSTRAINT [SUPPLIER_fk2] FOREIGN KEY([SupplierName])
REFERENCES [dbo].[SUPPLIER] ([SupplierName])
GO
ALTER TABLE [dbo].[PACKAGE] CHECK CONSTRAINT [SUPPLIER_fk2]
GO
ALTER TABLE [dbo].[PACKAGESTATUS]  WITH CHECK ADD  CONSTRAINT [EMPLOYEE_fk2] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EMPLOYEE] ([EmployeeId])
GO
ALTER TABLE [dbo].[PACKAGESTATUS] CHECK CONSTRAINT [EMPLOYEE_fk2]
GO
ALTER TABLE [dbo].[PACKAGESTATUS]  WITH CHECK ADD  CONSTRAINT [PACKAGE_fk1] FOREIGN KEY([PackageId])
REFERENCES [dbo].[PACKAGE] ([PackageId])
GO
ALTER TABLE [dbo].[PACKAGESTATUS] CHECK CONSTRAINT [PACKAGE_fk1]
GO
/****** Object:  StoredProcedure [dbo].[spAddPackage]    Script Date: 15-05-2026 10:09:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- til at tilføje pakke
CREATE PROCEDURE [dbo].[spAddPackage]
    @ProjectNo BIGINT,
    @ProjectItemNo INT,
    @PackageWeight INT,
    @Amount INT,
    @InnerQuantity INT,
    @PackageLength FLOAT,
    @PackageWidth FLOAT,
    @PackageHeight FLOAT,
    @Comment NVARCHAR(400) = NULL,
    @Picture NVARCHAR(500) = NULL,
    @ContainerNo NVARCHAR(50),
    @SupplierName NVARCHAR(100) 
AS BEGIN
    INSERT INTO PACKAGE (ProjectNo, ProjectItemNo, PackageWeight, Amount, InnerQuantity, PackageLength, PackageWidth, PackageHeight, Comment, Picture, ContainerNo, SupplierName)
    VALUES (@ProjectNo, @ProjectItemNo, @PackageWeight, @Amount,@InnerQuantity, @PackageLength, @PackageWidth, @PackageHeight, @Comment, @Picture, @ContainerNo, @SupplierName)
    END
GO
/****** Object:  StoredProcedure [dbo].[spAddStatus]    Script Date: 15-05-2026 10:09:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spAddStatus]
    @StatusType NVARCHAR(100),
    @Comment NVARCHAR(400) = NULL,
    @StatusTime DATETIME,
    @EmployeeId NVARCHAR(8),
    @PackageId INT
AS 
BEGIN
INSERT INTO PACKAGESTATUS(StatusType, Comment, StatusTime, EmployeeId, PackageId)
VALUES(@StatusType, @Comment,@StatusTime, @EmployeeId, @PackageId)
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllPackages]    Script Date: 15-05-2026 10:09:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------ pakker procedures


-- hente alle pakker
CREATE PROCEDURE [dbo].[spGetAllPackages]
AS
BEGIN
SELECT ProjectNo, ProjectItemNo, PackageWeight, Amount, InnerQuantity, PackageLength, PackageWidth, PackageHeight, Comment,Picture, ContainerNo, SupplierName
FROM PACKAGE
END
GO
/****** Object:  StoredProcedure [dbo].[spGetPackagesByContainerNo]    Script Date: 15-05-2026 10:09:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


    --til listbox-oversigten
 CREATE PROCEDURE [dbo].[spGetPackagesByContainerNo]
    @ContainerNo NVARCHAR(50)
AS
BEGIN
    SELECT *
    FROM PACKAGE
    WHERE ContainerNo = @ContainerNo
END

GO
/****** Object:  StoredProcedure [dbo].[spGetPackageStatusByPackageId]    Script Date: 15-05-2026 10:09:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[spGetPackageStatusByPackageId]
    @PackageId INT
AS
BEGIN
    SELECT *
    FROM PACKAGESTATUS
    WHERE PackageId = @PackageId
END
GO
/****** Object:  StoredProcedure [dbo].[spRemovePackage]    Script Date: 15-05-2026 10:09:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spRemovePackage]
    @PackageId INT
AS
BEGIN
    DELETE FROM PACKAGE
    WHERE PackageId = @PackageId
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdatePackage]    Script Date: 15-05-2026 10:09:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spUpdatePackage]
    @PackageId INT, 
    @ProjectNo BIGINT,
    @ProjectItemNo INT,
    @PackageWeight INT,
    @Amount INT,
     @InnerQuantity INT,
    @PackageLength FLOAT,
    @PackageWidth FLOAT,
    @PackageHeight FLOAT,
    @Comment NVARCHAR(400) = NULL,
    @Picture NVARCHAR(500) = NULL,
    @ContainerNo NVARCHAR(50),
    @SupplierName NVARCHAR(100) 
AS
BEGIN
    UPDATE PACKAGE
    SET 
        ProjectNo = @ProjectNo,
        ProjectItemNo = @ProjectItemNo,
        PackageWeight = @PackageWeight,
        Amount = @Amount,
        InnerQuantity = @InnerQuantity,
        PackageLength = @PackageLength,
        PackageWidth = @PackageWidth,
        PackageHeight = @PackageHeight,
        Comment = COALESCE(@Comment, Comment),
        Picture = COALESCE(@Picture, Picture),
        ContainerNo = @ContainerNo,
        SupplierName = @SupplierName
    WHERE PackageId = @PackageId
END
GO
USE [master]
GO
